<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Add/Edit Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Bojana's Place Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}" th:text="#{home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="#" th:href="@{/shop}" th:text="#{shop}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="#" th:href="@{/admin/game/list}" th:text="#{gameList}">Games List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/admin/user/list}" th:text="#{userList}">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="#{logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.pinimg.com/originals/09/5d/0d/095d0d2c652e1a36a49ef5aaeebfe488.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">


            </div>
        </div>



    </div>
<div class="container">
    <form action="#" th:action="@{/admin/game/addEdit}" method="post" th:object="${game}">
        <label th:text="#{title}"></label>:<input type="text" class="form-control form-control-lg" id="title" th:field="*{title}" th:placeholder="#{title}"/>
        <br/>
        <label th:text="#{releaseYear}"></label>
        <input type="text" class="form-control form-control-lg" id="releaseYear" th:field="*{releaseYear}" th:placeholder="#{releaseYear}"/>
        <br/>
       <label th:text="#{genre}"></label>
        <input type="text" class="form-control form-control-lg" id="genre" th:field="*{genre}"  th:placeholder="#{genre}"/>
        <label th:text="#{quiantity}"></label>
        <input type="text" class="form-control form-control-lg" id="quantity" th:field="*{quantity}"  th:placeholder="#{quiantity}"/>
        <label th:text="#{price}"></label>
        <input type="text" class="form-control form-control-lg" id="price" th:field="*{price}" th:placeholder="#{price}" />
        <input type="hidden" id="id" th:field="*{idGame}">
        <br/>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
</div>
</body>
</html>