<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>List of Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Bojana's Place Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}" th:text="#{home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="#" th:href="@{/shop}" th:text="#{shop}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="#" th:href="@{/admin/game/list}" th:text="#{gameList}">Games List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/admin/user/list}" th:text="#{userList}">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="#{logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.pinimg.com/originals/09/5d/0d/095d0d2c652e1a36a49ef5aaeebfe488.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">


            </div>
        </div>



    </div>

<div class="container">
    <div style="text-align: right; margin-bottom: 5px;">
        <a th:href="@{/admin/game/add}" class="btn btn-success" role="button" th:text="#{addGame}"/>
    </div>
    <table class="table table-borderless table-dark">
        <thead>
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{title}"></th>
            <th th:text="#{releaseYear}"></th>
            <th th:text="#{genre}"></th>
            <th th:text="#{quiantity}"></th>
            <th th:text="#{price}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
            <td th:text="${game.idGame}"/>
            <td th:text="${game.title}"/>
            <td th:text="${game.releaseYear}"/>
            <td th:text="${game.genre}"/>
            <td th:text="${game.quantity}"/>
            <th th:text="${game.price}"/>
            <td>
                <a th:href="@{/admin/game/edit/{id}(id=${game.idGame})}"
                   class="btn btn-success btn-sm" role="button" th:text="#{update}"/>
                <a th:href="@{/admin/game/delete/{id}(id=${game.idGame})}"
                        class="btn btn-danger btn-sm" role="button" th:text="#{delete}"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>