<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Shop now</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Bojana's Place Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}" th:text="#{home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="#" th:href="@{/shop}" th:text="#{shop}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" href="#" th:href="@{/admin/game/list}" th:text="#{gameList}">Games List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/user/list}" th:text="#{userList}">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="#{logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://images6.alphacoders.com/842/842585.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">


            </div>
        </div>



    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<table border="1" class="table table-borderless table-dark">
    <thead>
    <tr>
        <th th:text="#{id}"></th>
        <th th:text="#{title}"></th>
        <th th:text="#{releaseYear}"></th>
        <th th:text="#{genre}"></th>
        <th th:text="#{quiantity}"></th>
        <th th:text="#{price}"></th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><a th:href="@{/product/{id}(id=${product.idGame})}" th:text="${product.idGame}"></a></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.releaseYear}"></td>
        <td th:text="${product.genre}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <form action="#" th:action="@{/cart/add}" method="post">
                <input type="hidden" th:value="${product.idGame}" name="id"/>
                <button class="btn btn-success" type="submit" th:text="#{addToCart}"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>